.mi7_wrapper h2{text-align:center;}
ul.mi7_days_wrapper li{width:14%;float:left;}
ul.mi7_days_wrapper{width:100%;float:left;}
.mi7_col h4{width:100%;margin:0px;padding:0px;float:left;}
.mi7_col ul{width:100%;float:left;}
.mi7_col ul li{width:100%;margin:0px;padding:0px;float:left;}
.menu_items li span{display:none;}